{% extends "Story4-Base.html" %}

{% block title %}
  Resume - Add Project
{% endblock %}

{% block content %}

<section id="Events">
	<div class="my-auto">
        	<form id="form" method="POST" action="{% url 'website:saveproject' %}">
	        	{% csrf_token %}
	          {{ title }}<!-- No .as_p karena itu buat forms only-->
	          {{ addEvent_form.as_p }}
	        	<input id="submit" type="submit" class="waves-effect waves-light btn-small" value="submit">
            <a class="waves-effect waves-light btn" href = "/">Back</a>
       		</form>
    </div>
</section>

{% endblock %}
